[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = ">=3.6"


[packages]
scouts = {path = "."}
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
pyside2 = "*"
openpyxl = "*"
xlrd = "*"

